githubConfigUrl: "https://github.com/ervinpopescu/qtile-cmd-client"

githubConfigSecret:
  name: "pre-defined-secret"
  github_token: "placeholder"

controllerServiceAccount:
  namespace: "arc-systems"
  name: "arc-gha-rs-controller"

keyVault:
  type: ""

resourceMeta:
  noPermissionServiceAccount:
    annotations: {}
    name: ""

maxRunners: 8

minRunners: 0

template:
  spec:
    securityContext:
      fsGroup: 123
    containers:
      - name: runner
        imagePullPolicy: Always
        image: ghcr.io/ervinpopescu/qtile-custom-runner:ubuntu-26.04
        command: ["/home/runner/run.sh"]
        resources:
          requests:
            cpu: "1"
            memory: "2Gi"
          limits:
            cpu: "2"
            memory: "4Gi"
        env:
          - name: ACTIONS_RUNNER_CONTAINER_HOOKS
            value: /home/runner/k8s/index.js
          - name: ACTIONS_RUNNER_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: ACTIONS_RUNNER_REQUIRE_JOB_CONTAINER
            value: "false"
        volumeMounts:
          - name: work
            mountPath: /home/runner/_work
          - name: tool-cache
            mountPath: /opt/hostedtoolcache
    volumes:
      - name: work
        ephemeral:
          volumeClaimTemplate:
            spec:
              accessModes: [ "ReadWriteOnce" ]
              resources:
                requests:
                  storage: 1Gi
      - name: tool-cache
        persistentVolumeClaim:
          claimName: tool-cache-runnerset

namespaceOverride: "qtile-runners"
