githubConfigUrl: "WRONG_URL_PLEASE_SET_IN_VALUES_YAML"

githubConfigSecret: "pre-defined-secret"

controllerServiceAccount:
  namespace: "arc-systems"
  name: "arc-gha-rs-controller"

keyVault:
  type: ""

resourceMeta:
  noPermissionServiceAccount:
    annotations: {}
    name: ""

maxRunners: 8

minRunners: 0

template:
  spec:
    # securityContext:
    #   fsGroup: 123
    initContainers:
      - name: kube-init
        image: ghcr.io/ervinpopescu/arc-custom-runner:ubuntu-26.04
        command: ["sudo", "chown", "-R", "1001:123", "/home/runner/_work", "/opt/hostedtoolcache"]
        volumeMounts:
          - name: work
            mountPath: /home/runner/_work
          - name: tool-cache
            mountPath: /opt/hostedtoolcache
    containers:
      - name: runner
        imagePullPolicy: Always
        image: ghcr.io/ervinpopescu/arc-custom-runner:ubuntu-26.04
        command: ["/home/runner/run.sh"]
        env:
          - name: ACTIONS_RUNNER_CONTAINER_HOOKS
            value: /home/runner/k8s/index.js
          - name: ACTIONS_RUNNER_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: ACTIONS_RUNNER_REQUIRE_JOB_CONTAINER
            value: "false"
        volumeMounts:
          - name: work
            mountPath: /home/runner/_work
          - name: tool-cache
            mountPath: /opt/hostedtoolcache
    volumes:
      - name: work
        ephemeral:
          volumeClaimTemplate:
            spec:
              accessModes: [ "ReadWriteOnce" ]
              resources:
                requests:
                  storage: 1Gi
      - name: tool-cache
        persistentVolumeClaim:
          claimName: tool-cache-runnerset

namespaceOverride: "arc-runners"
